.container{
    width:90%;
    margin:auto;
}

h1,h2{
    margin-bottom:20px;
}

form{
    margin-bottom:25px;
}

input{
    width:250px;
    padding:10px;
    margin:8px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{

    padding:10px 20px;

    border:none;

    background:#1976d2;

    color:white;

    cursor:pointer;

    border-radius:5px;

    margin:5px;
}

button:hover{

    background:#125ea7;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

}

table th{

    background:#1976d2;

    color:white;

}

table th,
table td{

    border:1px solid #ddd;

    padding:12px;

    text-align:center;

}

tr:nth-child(even){

    background:#f7f7f7;

}